<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="goBack()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Días de descuento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">Descuento Día 1 %</ion-label>
    <ion-input type="number" [(ngModel)]="discount1"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Descuento Día 2 %</ion-label>
    <ion-input type="number" [(ngModel)]="discount2"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Descuento Día 3 %</ion-label>
    <ion-input type="number" [(ngModel)]="discount3"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Descuento Día 4 %</ion-label>
    <ion-input type="number" [(ngModel)]="discount4"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Descuento Día 5 %</ion-label>
    <ion-input type="number" [(ngModel)]="discount5"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Descuento Día 6 %</ion-label>
    <ion-input type="number" [(ngModel)]="discount6"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Descuento Día 7 %</ion-label>
    <ion-input type="number" [(ngModel)]="discount7"></ion-input>
  </ion-item>
  <ion-button (click)="store()">
    crear
  </ion-button>

</ion-content>
