<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      Categorias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)] = "name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Descripción</ion-label>
    <ion-textarea [(ngModel)] = "description"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">Color</ion-label>
    <ion-select placeholder="Elija" [(ngModel)]="color" (ionChange)="OnColorChange()">
      <ion-select-option value="blue">Azul</ion-select-option>
      <ion-select-option value="red">Rojo</ion-select-option>
      <ion-select-option value="yellow">Amarillo</ion-select-option>
      <ion-select-option value="green">Verde</ion-select-option>
      <ion-select-option value="purple">Violeta</ion-select-option>
    </ion-select>
    <div [class]="className">

    </div>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">Imagen</ion-label>
    <ion-input type="file" (change)="convertBase64($event)" id="imageInput"></ion-input>
  </ion-item>
  <ion-item *ngIf="image != null">
    <img [src]="image" style="width: 100%;">
  </ion-item>
  <ion-button (click)="store()">
    crear
  </ion-button>

  <ion-list>
    <ion-item *ngFor="let category of categories;" >
      {{ category.name }}
    </ion-item>
  </ion-list>

</ion-content>
