.color-div{
    width: 20px; height: 20px;
}

.red{
    background-color: #ff7675;
}

.yellow{
    background-color: #fdcb6e;
}

.blue{
    background-color: #74b9ff;
}

.green{
    background-color: #55efc4;
}

.purple{
    background-color: #a29bfe;
}