<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide *ngFor="let category of categories">
      <ion-card class="md hydrated" (click)="details(post)">
        <img [src]="url+'/images/categories/'+category.image">
      </ion-card>
    </ion-slide>
  </ion-slides>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let post of posts">
        <ion-card class="md hydrated" (click)="details(post)">
          <img [src]="url+'/images/posts/'+post.image">
          <ion-card-header class="ion-inherit-color md hydrated">
            <ion-card-subtitle role="heading" aria-level="3" class="ion-inherit-color md hydrated">{{ post.sale_date }}</ion-card-subtitle>
            <ion-card-title role="heading" aria-level="2" class="ion-inherit-color md hydrated">{{ post.title }}</ion-card-title>
          </ion-card-header>
          <ion-card-content class="md card-content-md hydrated">
            {{ post.description }}
          </ion-card-content>
          <ion-card-content class="md card-content-md hydrated">
            $ {{ post.price }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
